/__pycache__
/.pytest_cache
/calculators/__pycache__
/datamodels/__pycache__
/datastreams/__pycache__
/devices/eye_tracker/__pycache__
/devices/openpose/__pycache__
/devices/openface/bin/*
!/devices/openface/bin/.gitkeep
/devices/openface/processed
/devices/openpose/bin/*
!/devices/openpose/bin/.gitkeep