/__pycache__
/calculators/__pycache__
/datamodels/__pycache__
/devices/openface/bin/*
!/devices/openface/bin/.gitkeep
/devices/openface/processed
/devices/openpose/bin/*
!/devices/openpose/bin/.gitkeep