[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
websockets = "*"
websocket-client = "*"
autobahn = {extras = ["asyncio"],version = "*"}
python-baseconv = "*"
pywavelets = "*"
numpy = "*"

[requires]
python_version = "3.8"
