html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f6f7f8;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.inactive {
    background-color: #e6e6e6 !important;
}

.window-title {
    font-weight: bold;
}
